---
title: Galactictshirts | Checkout edit
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="wrapper">
  <main class="wrapper__content">

    {% include "partials/header.html" %}

    <div class="box">
      <div class="customer customer_name customer_opened">
        <div class="customer__title">Customer</div>
        <div class="customer__container">
          <div class="customer__content">
            <span class="customer__text">Matt Conner</span>
            <span class="customer__edit edit">
            <svg class="edit__icon" width="16" height="16">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-edit"></use>
            </svg>
          </span>
          </div>
          <div class="customer__collapse">
            <form class="form">
              <div class="form__row">
                <div class="form__control">
                  <input class="form__input" type="text" value="Matt Conner">
                </div>
              </div>
              <div class="form__bottom">
                <div class="form__btn">
                  <button type="submit" class="btn btn_light">Cancel</button>
                </div>
                <div class="form__btn">
                  <button type="submit" class="btn btn_color">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="customer customer_opened">
        <div class="customer__title">Shipping address</div>
        <div class="customer__container">
          <div class="customer__content">
            <span class="customer__text">1, The Avenue Hillsgate HL20 4ER UK</span>
            <span class="customer__edit edit">
            <svg class="edit__icon" width="16" height="16">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-edit"></use>
            </svg>
          </span>
          </div>
          <div class="customer__collapse">
            <form class="form">
              <div class="form__row">
                <div class="form__control">
                  <input class="form__input" type="text" placeholder="Address 1" value="1, The Avenue Hillsgate HL20 4ER  UK">
                  <div class="form__error-message">Please enter your Address</div>
                </div>
              </div>
              <div class="form__row">
                <div class="form__control">
                  <input class="form__input" type="text" placeholder="Address 2">
                </div>
              </div>
              <div class="form__row form__grid form__grid_2">
                <div class="form__cell">
                  <div class="form__control">
                    <input class="form__input" type="text" placeholder="City">
                  </div>
                </div>
                <div class="form__cell">
                  <div class="form__control">
                    <input class="form__input" type="text" placeholder="Country">
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="form__control">
                  <input class="form__input" type="tel" placeholder="Postal Code">
                </div>
              </div>
              <div class="form__bottom">
                <div class="form__btn">
                  <button type="submit" class="btn btn_light">Cancel</button>
                </div>
                <div class="form__btn">
                  <button type="submit" class="btn btn_color">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="customer customer_opened">
        <div class="customer__title">Business name</div>
        <div class="customer__container">
          <div class="customer__content">
            <span class="customer__text">UXLab Inc</span>
            <span class="customer__edit edit">
            <svg class="edit__icon" width="16" height="16">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-edit"></use>
            </svg>
          </span>
          </div>
          <div class="customer__collapse">
            <form class="form">
              <div class="form__row">
                <div class="form__control">
                  <input class="form__input" type="text" placeholder="Business name" value="UXLab Inc">
                  <div class="form__error-message">Please enter your Business name</div>
                </div>
              </div>
              <div class="form__bottom">
                <div class="form__btn">
                  <button type="submit" class="btn btn_light">Cancel</button>
                </div>
                <div class="form__btn">
                  <button type="submit" class="btn btn_color">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="caption">
        <div class="caption__content">
          <h2 class="title">Checkout</h2>
          <time class="time" datetime="2019-07-20 15:45">20th July 2019 at 3.45pm</time>
        </div>
      </div>
      <div class="products">
        <div class="product">
          <div class="product__side">
            <div class="product__img-wrap">
              <img class="product__img" src="img/product-1.png" srcset="img/product-1@2x.png 2x" alt="R1 T-shirt White">
            </div>
          </div>
          <div class="product__box">
            <h3 class="product__title">R1 T-shirt White</h3>
            <div class="product__desc">White T-shirts, 100% cotton, with special discount</div>
          </div>
          <div class="product__grid info">
            <div class="info__column info__column_id">
              <div class="info__title">Product ID</div>
              <div class="info__value">82372</div>
            </div>
            <div class="info__column info__column_qty">
              <div class="info__title">Qty</div>
              <div class="info__value">
                <div class="qty">
                  <button class="qty__btn qty__btn_minus"></button>
                  <span class="qty__value">10</span>
                  <button class="qty__btn qty__btn_plus"></button>
                </div>
              </div>
            </div>
            <div class="info__column info__column_discount">
              <div class="info__title">Discount 10%</div>
              <div class="info__value info__value_discount">£15.00</div>
            </div>
            <div class="info__column info__column_price">
              <div class="info__title">Price</div>
              <div class="info__value">£135.00</div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="product__side">
            <div class="product__img-wrap">
              <img class="product__img" src="img/product-2.png" srcset="img/product-2@2x.png 2x" alt="R1 Shoes White">
            </div>
          </div>
          <div class="product__box">
            <h3 class="product__title">R1 Shoes White</h3>
            <div class="product__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
          <div class="product__grid info">
            <div class="info__column info__column_id">
              <div class="info__title">Product ID</div>
              <div class="info__value">82372</div>
            </div>
            <div class="info__column info__column_qty">
              <div class="info__title">Qty</div>
              <div class="info__value">
                <div class="qty">
                  <button class="qty__btn qty__btn_minus"></button>
                  <span class="qty__value">2</span>
                  <button class="qty__btn qty__btn_plus"></button>
                </div>
              </div>
            </div>
            <div class="info__column info__column_discount">
              <div class="info__title">Discount 10%</div>
              <div class="info__value info__value_discount">£15.00</div>
            </div>
            <div class="info__column info__column_price">
              <div class="info__title">Price</div>
              <div class="info__value">£135.00</div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="product__side">
            <div class="product__img-wrap">
              <img class="product__img" src="img/product-3.png" srcset="img/product-3@2x.png 2x" alt="3-Stripes Leggings">
            </div>
          </div>
          <div class="product__box">
            <h3 class="product__title">3-Stripes Leggings</h3>
            <div class="product__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
          </div>
          <div class="product__grid info">
            <div class="info__column info__column_id">
              <div class="info__title">Product ID</div>
              <div class="info__value">82372</div>
            </div>
            <div class="info__column info__column_qty">
              <div class="info__title">Qty</div>
              <div class="info__value">
                <div class="qty">
                  <button class="qty__btn qty__btn_minus"></button>
                  <span class="qty__value">13</span>
                  <button class="qty__btn qty__btn_plus"></button>
                </div>
              </div>
            </div>
            <div class="info__column info__column_discount">
              <div class="info__title">Discount 10%</div>
              <div class="info__value info__value_discount">£15.00</div>
            </div>
            <div class="info__column info__column_price">
              <div class="info__title">Price</div>
              <div class="info__value">£135.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="bottom__base">
          <div class="note">
            <h4 class="note__title">Note</h4>
            <div class="note__content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
        <div class="bottom__side">
          <div class="price">

            <div class="price__title">Subtotal</div>
            <div class="price__cell">
              <div class="price__row">
                <span class="price__symbol">£</span>
                <div class="price__value">135.00</div>
              </div>
            </div>

            <div class="price__title">Delivery</div>
            <div class="price__cell">
              <div class="price__row">
                <span class="price__symbol">£</span>
                <div class="price__value">15.00</div>
              </div>
            </div>

            <div class="price__title price__title_total">Total</div>
            <div class="price__cell price__cell_total">
              <div class="price__row">
                <span class="price__symbol">£</span>
                <div class="price__value">150.00</div>
              </div>
              <div class="price__note">(inc VAT)</div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="pay">
      <a href="#" class="btn btn_pay">
        <svg class="btn__icon" width="107" height="67">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-apple-pay"></use>
        </svg>
      </a>
    </div>

  </main>
  {% include "partials/footer.html" %}
</div>

{% endblock %}