.icon-apple-pay {
  width: 2.61em;
  height: 1em;
  fill: ;
}
.icon-card {
  width: 1.33em;
  height: 1em;
  fill: ;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-stripe {
  width: 2.36em;
  height: 1em;
  fill: ;
}
